{% extends "layout.html" %}
{% block title %}ჩვენს შესახებ - GLGL{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mb-5">
        <h1 class="section-title">ჩვენს შესახებ</h1>
    </div>
    <div class="row align-items-center g-5">
        <div class="col-lg-6">
            <h2>ჩვენი მისია</h2>
            <p class="lead">ჩვენი მიზანია, შემოგთავაზოთ უმაღლესი ხარისხის ტექნიკა და სამზარეულოს ინვენტარი საუკეთესო ფასად, თქვენი ცხოვრების გასამარტივებლად.</p>
            <p>GLGL.com დაარსდა იმისთვის, რომ მომხმარებლებისთვის შეექმნა კომფორტული და სანდო ონლაინ სივრცე, სადაც ისინი იპოვიან ყველაფერს, რაც მათ სამზარეულოს სჭირდება.</p>
        </div>
        <div class="col-lg-6">
            <img src="https://scontent.ftbs5-2.fna.fbcdn.net/v/t39.30808-6/475805017_122192146868177939_2397245557251746109_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=kArg7EW1BCYQ7kNvwG4IdNN&_nc_oc=AdkcoPx6OTxca92KKuo5oV5YlUlvXP0qpzEmUlSIRRrHKJ6tZx2CVMyuUadmUdF_a6g&_nc_zt=23&_nc_ht=scontent.ftbs5-2.fna&_nc_gid=wRw-7MfuH1btQX1V3glJaw&oh=00_AfMIgmwkpI-lfwehrQ42gj_Tmohe1xoUnoJkW83iNTK5iQ&oe=684F4AB6" class="img-fluid rounded shadow" alt="თანამედროვე სამზარეულო">
        </div>
    </div>
</div>
{% endblock %}
